<app-breadcrumb [title]="'Manager List'"></app-breadcrumb>
<div class="mat-elevation-z8"  style="margin: 20px; width: 60%">
 <mat-card >

  <mat-card-content>

    <!-- <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar> -->
    <mat-progress-bar mode="indeterminate" *ngIf="loadingIndicator"></mat-progress-bar>
    <mat-table #table [dataSource]="dataSource" >

      <ng-container matColumnDef="FullNameEng">
        <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
        <mat-cell *matCellDef="let managers">
          {{managers?.FullNameEng}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="FullName">
        <mat-header-cell *matHeaderCellDef>ሙሉ ስም</mat-header-cell>
        <mat-cell *matCellDef="let managers">
          {{managers?.FullName}}
        </mat-cell>
      </ng-container>
 
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="25%">
          <button mat-button color="primary" (click)="editManager()">
            <mat-icon style="margin-top: -5px" class="mat-8">add</mat-icon>
           {{'common.commands.Add' | translate}}  
          </button>
        </mat-header-cell>
        <mat-header-cell *matHeaderCellDef fxFlex="28%">
        </mat-header-cell>
        <mat-cell mat-dialog-actions *matCellDef="let manager" fxFlex="38%">
          <button mat-icon-button matTooltip = "Edit"  (click)="editManager(manager)">
            <mat-icon class="mat-12" color="primary">edit</mat-icon>
            <span >Edit</span>
          </button>
          <span style="width: 20px"></span>
          <button mat-icon-button matTooltip="Delete" (click)="confirmDelete(manager)">
            <mat-icon class="mat-12" color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
          
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
</div>
